useDynLib(Biostrings)

import(methods)
import(stats)
import(utils) ## for the "head" and "tail" generics

exportClasses(
    .IRanges, IRanges, NormalIRanges,
    XRaw, XInteger,
    XString, BString, DNAString, RNAString, AAString,
    Mask, MaskCollection,
    MaskedXString, MaskedBString, MaskedDNAString, MaskedRNAString, MaskedAAString,
    BStringViews,
    XStringSet, BStringSet, DNAStringSet, RNAStringSet, AAStringSet,
    BStringList, DNAStringList, RNAStringList, AAStringList,
    XStringPartialMatches,
    XStringAlign,
    BOC_SubjectString, BOC2_SubjectString,
    PDict, CWdna_PDict, TBdna_PDict,
    MIndex, ByPos_MIndex, ByName_MIndex
)

exportMethods(
    ## Generics defined elsewhere
    #as.integer,
    initialize, length, names, "[", "[[", show, "==", "!=", duplicated,
    coerce, as.data.frame, as.matrix, as.list,
    as.character, toString, as.complex, toComplex,
    nchar, update,

    ## IRanges objects
    start, width, end, desc, isNormal, whichFirstNotNormal, isEmpty, max, min,
    "start<-", "width<-", "end<-", "desc<-",

    ## XString, MaskedXString, BStringViews and XStringList objects
    XString, alphabet, subseq,
    masks, unmasked, mask, "mask<-",
    BStringViews, subject,
    BStringList, DNAStringList, RNAStringList, AAStringList,
    letter,

    ## Utilities
    substr, substring,
    alphabetFrequency, oligonucleotideFrequency,
    chartr,
    reverse, complement, reverseComplement,
    replaceLetterAtLoc,

    ## Others
    isMatching, mismatch,
    matchPattern, countPattern,
    matchLRPatterns,
    matchProbePair,
    findPalindromes,
    palindromeArmLength, palindromeLeftArm, palindromeRightArm,
    findComplementedPalindromes,
    complementedPalindromeArmLength, complementedPalindromeLeftArm, complementedPalindromeRightArm,

    patternFrequency, head, tail, startIndex, endIndex, countIndex, unlist,
    PDict, matchPDict, countPDict,

    subpatterns, pattern,
    align1, align2, type, score,
    consmat,
    lcprefix, lcsuffix, pmatchPattern, lcsubstr,
    pairwiseAlignment, needwunsQS,

    ## Deprecated
    first, last
)

export(
    intToRanges, intToAdjacentRanges, restrict, narrow, reduce, toNormalIRanges, gaps,
    readFASTA, writeFASTA, gregexpr2,
    IUPAC_CODE_MAP, mergeIUPACLetters,
    AMINO_ACID_CODE, GENETIC_CODE,
    DNA_ALPHABET, RNA_ALPHABET, AA_ALPHABET,
    #XRaw, XRaw.copy, XInteger, XInteger.read, XInteger.write,
    BString, DNAString, RNAString, AAString,
    BStringSet, DNAStringSet, RNAStringSet, AAStringSet,
    views, adjacentViews, trim, subviews,
    FASTArecordsToCharacter, CharacterToFASTArecords,
    FASTArecordsToBStringViews, XStringSetToFASTArecords,
    read.BStringViews,
    read.BStringSet, read.DNAStringSet, read.RNAStringSet, read.AAStringSet,
    write.XStringSet, write.BStringViews,
    subXString, subviews,
    strrev, mkAllStrings, dinucleotideFrequency, trinucleotideFrequency,
    transcribe, cDNA, dna2rna, rna2dna,
    .inplaceReplaceLetterAtLoc,
    maxWeights, maxScore, PWMscore, matchPWM, countPWM,
    extractAllMatches,
    alignScore,

    ## Deprecated
    subBString,

    ## Defunct
    matchDNAPattern
)

