import(methods)

useDynLib(Biostrings)

exportClasses(
    "BString", "DNAString", "RNAString", "AAString",
    "BStringViews"
)

exportMethods(
    ## Generics defined elsewhere
    #as.integer,
    initialize, length, "[", "[[", show, "==", "!=",
    as.character, toString, nchar, as.complex,
    as.matrix, as.list,
    ## New generics
    alphabet, subBString,
    subject, first, last, width, desc, BStringViews,
    reverse, complement, reverseComplement, alphabetFrequency,
    matchPattern, countPattern, mismatch,
    ## Copy/pasted from Biostrings 1
    needwunsQS
)

export(
    readFASTA,
    debug_utils, debug_CharBuffer, debug_shiftor,
    #CharBuffer, CharBuffer.copy, IntBuffer, IntBuffer.read, IntBuffer.write,
    DNA_ALPHABET, RNA_ALPHABET,
    letter, BString, DNAString, RNAString, AAString,
    views, adjacentViews,
    matchDNAPattern,
    ## Copy/pasted from Biostrings 1
    alignScore
)

## Copy/pasted from Biostrings 1
S3method(print, needwunsQS)
S3method(alignScore, needwunsQS)

