useDynLib(Biostrings)

import(methods)
import(stats)
import(utils) ## for the "head" and "tail" generics

exportClasses(
    "XRaw", "XInteger",
    "BString", "DNAString", "RNAString", "AAString",
    "BStringList", "DNAStringList", "RNAStringList", "AAStringList",
    "SubstrLocs",
    "BStringSet", "DNAStringSet", "RNAStringSet", "AAStringSet",
    "Views",
    "BStringViews", "BStringPartialMatches",
    "BStringAlign",
    "BOC_SubjectString", "BOC2_SubjectString",
    "PDict", "CWdna_PDict", "TBdna_PDict",
    "ViewsIndex", "ByPos_ViewsIndex", "ByName_ViewsIndex"
)

exportMethods(
    ## Generics defined elsewhere
    #as.integer,
    initialize, length, "[", "[[", show, "==", "!=",
    as.character, toString, nchar, toComplex, as.complex,
    as.data.frame, as.matrix, as.list, names,
    duplicated,

    ## Accessors
    alphabet, letter,
    start, end, super,
    nview, width, desc, "desc<-", subject,
    patternFrequency, head, tail, startIndex, endIndex, countIndex, unlist,
    subpatterns, pattern,
    align1, align2, score,

    ## Others
    BString, DNAString, RNAString, AAString,
    BStringList, DNAStringList, RNAStringList, AAStringList,
    #BStringSet, DNAStringSet, RNAStringSet, AAStringSet,
    BStringViews,
    subviews, substr, substring,
    alphabetFrequency, oligonucleotideFrequency,
    reverse, complement, reverseComplement,
    isMatching, mismatch,
    matchPattern, countPattern,
    mask,
    matchLRPatterns,
    matchProbePair,
    findPalindromes,
    palindromeArmLength, palindromeLeftArm, palindromeRightArm,
    findComplementedPalindromes,
    complementedPalindromeArmLength, complementedPalindromeLeftArm, complementedPalindromeRightArm,
    PDict, matchPDict, countPDict,
    consmat,
    lcprefix, lcsuffix, pmatchPattern, lcsubstr,
    needwunsQS,

    ## Deprecated
    first, last
)

export(
    readFASTA, writeFASTA, gregexpr2,
    #debug_utils, debug_XRaw,
    #debug_naive, debug_boyermoore, debug_shiftor,
    #XRaw, XRaw.copy, XInteger, XInteger.read, XInteger.write,
    IUPAC_CODE_MAP, AMINO_ACID_CODE, GENETIC_CODE,
    DNA_ALPHABET, RNA_ALPHABET, AA_ALPHABET,
    strrev, mkAllStrings, dinucleotideFrequency, trinucleotideFrequency,
    views, adjacentViews,
    FASTArecordsToCharacter, CharacterToFASTArecords,
    FASTArecordsToBStringViews, BStringViewsToFASTArecords,
    read.BStringViews, write.BStringViews,
    subBString, subBStringList, subviews,
    transcribe, cDNA, dna2rna, rna2dna,
    matchDNAPattern,
    extractAllMatches,
    alignScore
)

